.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 28px;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
}